[mysqld]
log_bin	='/var/log/mysql/mariadb-bin'
binlog_format='row'
expire_logs_days=1
#log_error

default_storage_engine='InnoDB'

transaction-isolation='READ-COMMITTED'

innodb-flush-log-at-trx-commit=1

innodb_autoinc_lock_mode=2

datadir='/var/lib/mysql'
socket='/run/mysqld/mysqld.sock'

[galera]
wsrep_on='ON'
wsrep_provider='/usr/lib/galera/libgalera_smm.so'

wsrep_node_address='@wsrep_node_address@'
wsrep_cluster_address='@wsrep_cluster_address@'

wsrep_cluster_name='my_galera'

#wsrep_sst_auth='mariabackup:pass123'

wsrep_sst_method='rsync'

wsrep_slave_threads=1

wsrep_auto_increment_control='ON'
wsrep_drupal_282555_workaround='ON'
wsrep_retry_autocommit=10

#bind-address=0.0.0.0
#bind-address=127.0.0.1
#bind_address=*

[client]
# Against: Can't connect to MySQL server on '127.0.0.1'
protocol='TCP'
#host='127.0.0.1'
#port=3306
